<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>
        ToDo APP <br>
    </h1>
    <h2>
        <img src="p2.png" />
    </h2>
    <h3>
        <a href="/addtask"> Add New Task</a><br>
        <a href="/listalltasks"> List Tasks</a><br>
        <a href="/deleteID"> Delete by ID</a><br>
        <a href="/deletecompleted"> Delete Complete</a><br>
        <a href="/updatetask"> Update Task</a><br>
        <a href="/findNotTomorrow"> Find Not Tomorrow</a><br>
    </h3>

</body>

</html>